#root {
  font-family: 'Abril Fatface', cursive;
  background-image: url(https://media.istockphoto.com/id/1084659484/photo/newspaper-with-old-grunge-vintage-unreadable-paper-texture-background.jpg?b=1&s=170667a&w=0&k=20&c=S0eVDOemrmzPHCBxMiMexmuIjwKAUTx70w8eFtzPDqg=);
  min-height: 100vh;
  height: 100%
}

#posts-index img {
  border-style: solid;
  border-radius: 0.25em;
  border-color: white;
  background-color: tan;
  position:flex;
  width: 300px;
  opacity: .5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;

}
#posts-index img:hover {
  position: flex;
  border-style: solid;
  border-radius: .25;
  border-color: black;
  opacity: 1.0;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #0b0b0b;
  background-image: url(https://as1.ftcdn.net/v2/jpg/02/21/84/52/1000_F_221845211_H4LkTyvKgR2uyBAEQHzNO8qYPPHN1Oh9.jpg);
  border-radius: 1em;
  border-style: solid;
  border-color:black;
  overflow: hidden;
  position: fixed;
  top: 0em;
  left: 0em;
  height: 100%;
  width: 100%;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 1s ease-in-out;
}

nav a:hover {
  background-color: rgba(250, 238, 219, 0.763);
}

nav a.active {
  background-color: hidden;
}

.card-img-top{
  height: 250px;
  width: 100%;
  object-fit: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  display: block;
}

div h1{
  color: darkred;
  text-shadow: 1px 1px 1px black;
}

div h2{
  color: darkred;
  text-shadow: 1px 1px 1px black;
}