.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.modal-main {
  position:fixed;
  background: rgb(241, 244, 241);
  border-color: rgb(244, 247, 247);
  border-radius: 1em;
  border-style: groove;
  width: 75%;
  height: 500px;
  top:50%;
  left:50%;
  bottom: 0;
  transform: translate(-50%,-50%);
  padding: 1em;
  overflow-y: scroll;
  overflow-x: visible;
}

.modal-main button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 0em; 
  right: 0.2em;
}

button.btn {
  background-image: radial-gradient(rgb(245, 229, 191), rgb(246, 216, 151));
}

button.btn:hover {
  border-color: black;
}

.btn-primary:hover {
  background-image: url(https://img.freepik.com/free-vector/hand-drawn-quill-pen-with-inkwell_53876-111384.jpg?w=740&t=st=1682042558~exp=1682043158~hmac=d36c46609b9266d8c16a3c4f0d4b0d3303260a4ee56f4334e5cd2ef494f907c7); 
  background-size: contain;
  color: black;
  border: solid;
  border-color: black;
}
.btn.btn-primary:hover {
  color: black;
  border-color: black;
}